//메인 페이지
#mainCont {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  .main__cont {
    color: #fff;
    font-size: 10vw;
    line-height: 0.85;
    font-family: "Saol Display Regular";
    text-transform: uppercase;
  }
}
