//메인 페이지
#mainCont {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  .main__cont {
    color: #fff;
    font-size: 10vw;
    line-height: 0.85;
    font-family: "Saol Display Regular";
    text-transform: uppercase;
  }
}

//about페이지
#aboutCont {
  background-color: #f0eeeb;
}
.about-cont .about {
  padding-bottom: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-cont .about:nth-child(1) .about-img {
  flex: 0 0 100%;
}
.about-cont .about:nth-child(1) .about-txt {
  flex: 0 0 100%;
}
.about-cont .about:nth-child(1) .about-txt h2 {
  margin-top: 2em;
}
.about-cont .about:nth-child(2) .about-img {
  flex: 0 0 64%;
}
.about-cont .about:nth-child(2) .about-txt {
  flex: 0 0 30%;
}
.about-cont .about:nth-child(3) {
  flex-direction: row-reverse;
}
.about-cont .about:nth-child(3) .about-img {
  flex: 0 0 54%;
}
.about-cont .about:nth-child(3) .about-txt {
  flex: 0 0 40%;
}
.about-cont .about .about-txt {
  font-family: "Chosunilbo_myungjo";
}
.about-cont .about .about-txt h2 {
  margin: 0 0 1em;
  font-size: 1.625rem;
}
.about-cont .about .about-txt p {
  line-height: 1.6;
  font-size: 16px;
}

// script페이지
#scriptCont {
  background-color: #f0eeeb;
}
.script__cont {
  padding-bottom: 300px;
}
.script__cont__wrap {
  margin-bottom: 150px;
}
.script__cont__img {
  height: 480px;
  overflow: hidden;
}
.script__cont__txt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    flex: 0 0 100%;
    font-size: 30px;
    font-family: "Chosunilbo_myungjo";
    padding: 30px 0 30px;
  }
  p {
    flex: 0 0 34%;
    font-size: 18px;
    font-family: "Chosunilbo_myungjo";
    text-align: justify;
  }
  ul {
    flex: 0 0 25%;
    text-align: right;
    li {
      display: inline;
      width: 20%;
      a {
        display: inline-block;
        border: 1px solid #9b9b9b;
        border-radius: 50px;
        width: 51px;
        height: 51px;
        color: #9b9b9b;
        text-align: center;
        line-height: 51px;
        margin-left: 14px;
        margin-bottom: 14px;
      }
    }
  }
}

//reterence페이지
/* referCont */
#referCont {
  background-color: #f0eeeb;
}
.refer-cont {
  padding-bottom: 200px;
}
.refer-cont .refer-title li {
  display: inline;
  font-family: "Rajdhani";
}
.refer-cont .refer-title li a {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  border: 1px solid #222;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-right: 10px;
}
.refer-cont .refer-title li.active a {
  background: #000;
  color: #fff;
}
.refer-cont .refer-table {
  border-bottom: 2px solid #000;
  margin-top: 1.2rem;
  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
    font-family: "S-CoreDream-3Light";
    text-transform: uppercase;
  }
}
.refer-cont .refer-table li {
  margin: 0;
  list-style: none;
  border-top: 1px solid #000;
  position: relative;
  transition: all 0.3s;
}
.refer-cont .refer-table li:hover {
  background: rgba(0, 0, 0, 0.081);
}
.refer-cont .refer-table li span {
  display: inline-block;
  padding: 25px 10px;
  font-size: 18px;
  font-family: "S-CoreDream-3Light";
  box-sizing: border-box;
}
.refer-cont .refer-table li span.alpha {
  position: absolute;
  left: 10px;
  top: 0;
}
.refer-cont .refer-table li span.attr {
  padding-left: 10%;
  width: 35%;
}
.refer-cont .refer-table li span.desc {
  width: 64.5%;
}
